h3{
	font-weight: bolder;
}
.card{
    width: 90%;
}
.card:hover{
	width: 100%;
	cursor: pointer;
}
.add_option:hover{
	cursor: pointer;
}
.remove_option:hover{
	cursor: pointer;
}
.prob_submit:hover{
	cursor: pointer;
}
.all_option .btn{
	width: 7%;
	margin-left: 0.5%;
}
.all_option .prob_option{
	padding: 0;
}
.prob_submit{
	text-align: center;
}
.show_prob{
	cursor: pointer;
}
.show{
	width: 0;
}
#message{
	padding-left: 20px;
}
.problem{
	opacity: 0;
	display: none;
}
.stu_ans{
	width: 90%;
	margin-top: 3px;
}
.check_ans{
	width: 100%;
}
.check_ans:hover{
	cursor: pointer;
}
.giveup:hover{
	cursor: pointer;
}
.prob_status{
	width: 90%;
	top: 0;
	left: 0;
  	right: 0;
  	bottom: 0;
	position: absolute;
	text-align: center;
}
.score{
	font-style: italic;
	position: fixed;
	font-size: 0;
	font-weight: bolder;
	text-align: center;
	display: none;
	left: 0;
	right: 0;
  	bottom: 60%;
}
.card_list{
	width: 10%;
}
.personal_score{
	display: block;
	margin: 50px;
	color: blue;
	font-weight: bolder;
	font-size: 20px;
	text-align: center;
}